<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
</head>
<body>
    <wrapper>
        <h1>글자수세기</h1>
        <form action="{% url 'result' %}" method="post">{% csrf_token %}
            <textarea class='text' name="text" cols="40" rows="15"></textarea>
            <br>
            <input class='submit' type="submit" value="제출" />
        </form>
    </wrapper>
</body>
</html>