* {
    margin: auto;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background: whitesmoke;
}

.headline {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
    background-color: #00a495;
    color: white;
    font-weight: 100;
    text-align: center;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
}

.container{
    width: 75%;
    text-align: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    min-width: 420px;
    border: 1px solid #ddd;
    z-index: 8;
    background: #fff;

}

.imgcontainer {
    width: 400px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

#name {
    font-family: 'Noto Sans KR', serif;
    background: #00a495;
    color: white;
    border: 1px solid #fff;
    width: 400px;
    min-width: auto;
}

img {
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 100100%;
}

.article-head {
    font-family: 'Noto Sans KR', sans-serif;
    background: rgb(0, 0, 0, 0);
    top: 50px;
    left: 10%;
    padding: 0%;
    margin: 40px auto;
    font-weight: 700;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 80%;
    font-size: 30px;
}

.table {
    display: flex;
    width: 400px;
    background: white;
    
}

.table-left {
    flex: 3;

}

.table-right {
    flex: 7;
}

.left {
    font-weight: 700;    
    border: 1px solid #fff;
    border-top: 0;
    height: auto;
    padding: 4px 0;
    background: #ddd;
}


.right {
    font-weight: 400;    
    border-bottom: 1px solid #ddd;
    height: auto;
    padding: 4px 0;
}

.right:last-child {
    border-bottom: 0;
}

article {
    width: 80%;
    text-align: justify;
}
