*{
    margin: 0;
    padding : 0;
}

body {
    background-color: rgb(34, 40, 49);

}
body .title {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 10vh;
    color: #EEEEEE;
    font-weight: 100;
    text-align: center;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(34, 40, 49);

}

body .container{
    font-family: 'Nanum Gothic', sans-serif;
    margin : 15vh auto;
    box-sizing: border-box;
    width: 75vw;
    height: auto;
    padding: 5vh 5vw;
    background-color: #EEEEEE;
    border: 10px solid rgb(57, 62, 70);
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

body .no_post {
    text-align: center;
    margin: auto;
}

